.Contact_container {
    width: 77%;
    padding: 20px 0 0 20px;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Contact {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    margin: 0 auto 0 50px;
}

.Contact h2 {
    font-size: 24px;
    color: antiquewhite;
}

.Contact p {
    text-align: left;
    letter-spacing: 3px;
    line-height: 1.6;
    color: aliceblue;
}

.Contact li {
    line-height: 1.6;
    list-style-position: inside;
    color: aliceblue;
}

.Contact li a {
    text-decoration: none;
    color: white;
}