.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}


.sidebar {
    position: sticky;
    top: 0;
    width: 23%;
    padding: 10px;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: -webkit-sticky;
    height: 100vh;
    min-height: 200px;
    overflow: none;
    justify-content: space-between;
}

.profile {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 3px double rgb(250, 251, 255);
    padding: 15px 0 10px 0;
}

.name-card {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-bottom: 3px double rgb(250, 251, 255);
    padding-bottom: 15px;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10;
    
}

.navigation .About,
.contact {
    font-size: larger;
    margin-top: 20px;
}

.navigation li {
    list-style: none;
}

.about p {
    box-shadow: 1px 0px 9px 1px rgb(109, 233, 165);
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    color: rgb(5, 5, 5);
}

.contact p {
    box-shadow: 1px 0px 9px 1px rgb(109, 233, 165);
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    color: rgb(5, 5, 5);
}

.social-links{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links i, .alink{
    font-size: x-large;
    text-decoration: none;
    color: inherit;
}